.info {
    position: relative;
    width: 100%;

    h1 {
        font-size: 48px;
        font-weight: normal;
        color: #000;
    }

    p {
        font-size: 18px;
        font-weight: normal;
        color: #000;
    }

    img {
        position: absolute;
        z-index: -1;
        top: -50%;
        opacity: 50%;
        width: 100%;
    }
}

@media all and (max-width:930px) {
    .info {

        img {
            top: 25%;
        }
    }
}