.products--info {
    .left--and--right {
        display: flex;
        align-items: center;

        .left {
            width: 50%;

            .prodicts--img {
                width: 100%;
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 50%;

            .products--title {
                font-size: 48px;
                width: max-content;
                color: #000;
            }

            .sell {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-size: 18px;
                color: #4CAF50;

                svg {
                    font-size: 18px;
                }
            }

            .products--brend {
                display: flex;
                align-items: center;
                gap: 0.215rem;
                font-size: 18px;

            }

            span {
                color: #B3B3B3;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: max-content;
                gap: 5rem;

                .products--much {
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    gap: 0.215rem;
                }

                button {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: 16px;
                    color: #fff;
                    padding: 5px 12px;
                    background: #4CAF50;
                    border: none;
                    border-radius: 12px;
                }
            }
        }
    }

    ul {
        li {
            font-size: 18px;
        }

        p {
            font-size: 18px;
        }
    }
}

@media all and (max-width:930px) {
    .products--info {
        .left--and--right {
            flex-direction: column;
            align-items: start;
            padding: 0 0 50px 0;

            .left {
                width: 100%;

                .prodicts--img {
                    width: 100%;
                }
            }
        }
    }
}

@media all and (max-width:768px) {
    .products--info {
        .left--and--right {
            .right {
                width: 100%;

                ul {
                    width: 100%;
                    gap: 0;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}